.header-launch {
    background-color: $black;
    @include set-text($white, 22px, 26px, samsungone);
    margin-top: 0;
    max-width: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .navbar-brand {
        @include bp-992 {
            position: absolute;
        }

        img {
            width: 130px;

            @include bp-576 {
                width: 208px;
            }
        }
    }

    .main-header__logo-container {
        padding-left: 55px;
        padding-right: 55px;

        @include bp-992 {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    nav {
        position: static;
        max-width: 1650px;
        margin-left: auto;
        margin-right: auto;

        .navbar-brand {
            position: static;

            img {
                width: 90px;
                margin-left: 30px;

                @include bp-576 {
                    // width: 208px;
                    width: 132px;
                }

                // @include bp-1200 {
                //     width: 208px;
                // }
            }
        }

        #navbarContent {
            z-index: 100;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: $black;
            text-align: center;
            padding: 40% 0;


            .close-nav {
                @include button-reset();
                visibility: hidden;
                position: absolute;
                top: 30px;
                right: 30px;
                @include set-text($white, 56px, 1, samsungone);
                content: 'X';

                .close-nav-content {
                    margin: -10px;
                    padding: 10px;
                    background-color: $black;
                }
            }

            .navbar-collapse,
            .navbar-collapse.collapse,
            .navbar-collapse.in,
            .navbar-collapse.collapsing {
                max-height: 100vh;

                @include bp(1920px) {
                    flex-basis: unset;
                    -webkit-flex-basis: unset;
                }
            }

            .navbar-collapse.in {
                height: 100vh;
            }

            .navbar-expander {
                display: block;
            }

            @include bp-1200 {
                width: auto;
                position: static;
                text-align: left;
                height: auto;
                padding: 0;
                background: transparent;

                .close-nav {
                    display: none;
                }
            }

            #menu-main-navigation {
                margin-left: 15px;
                margin-right: 15px;

                li {
                    padding: 15px;

                    a {
                        @include set-text($white, 24px, 29px, samsungsharpsans-bold);

                        &:hover {
                            color: $persianblue;
                            cursor: pointer;
                        }
                    }

                    &:last-child {
                        a {
                            @include set-text($white, 14px, 18px, samsungsharpsans-bold);
                        }
                    }
                }

                @include bp-1200 {
                    width: auto;
                    text-align: right;
                    margin-left: 15px;
                    margin-right: 15px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex: 1;

                    li {
                        padding: 0 15px;

                        a {
                            @include set-text($white, 16px, 18px, samsungsharpsans-bold);

                            &:hover {
                                color: $persianblue;
                                cursor: pointer;
                            }
                        }

                        &:last-child {
                            margin: 0 0 0 auto;

                            a {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }
                }

                @include bp(1920px) {
                    li {
                        a {
                            @include set-text($white, 22px, 26px, samsungsharpsans-bold);
                        }

                        &:last-child {
                            a {
                                font-size: 24px;
                                line-height: 29px;
                            }
                        }
                    }
                }
            }
        }

        #register-button-container {

            #register-btn {
                @include set-text($black, 8px, 10px, samsungsharpsans-bold);
                border-radius: 35px;
                margin-right: 15px;
                padding: 6px 12px;
                border: 3px solid black;
                background-color: #fff;
                color: #000;
                transition: all .3s;



                &:hover {
                    background-color: transparent;
                    color: #fff;
                    border-color: #fff;
                }

                @include bp-992 {
                    font-size: 14px;
                    padding: 15px 27px;

                    margin-top: 0;
                    margin-bottom: 0;
                }

                @include bp-1200 {
                    font-size: 16px;
                    padding: 16px 18px;

                    // font-size: 18px;
                    // padding: 25px 30px;
                    @media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 3e1dpcm) {
                        padding-top: 19px;
                    }
                }

                // @include bp(1460px) {
                //     font-size: 24px;
                // }
            }
        }
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.header-launch,
header.main-header.header-home-launch {
    &.sticky {
        position: fixed;
        width: 100%;
        z-index: 100;
        background: $black;

        @include bp-576 {
            nav {
                margin-top: 0;

                // .navbar-brand {
                //   img {
                //     width: 132px;
                //   }
                // }
            }
        }

        @include bp-768 {
            nav {
                // margin-top: 0;

                // .navbar-brand {
                //   img {
                //     width: 132px;
                //   }
                // }
            }
        }

        @include bp-992 {
            nav {
                // margin-top: 0;

                // .navbar-brand {
                //   img {
                //     width: 132px;
                //   }
                // }
            }
        }

        @include bp-1200 {
            nav {
                // margin-top: 0;

                // .navbar-brand {
                //   img {
                //     width: 132px;
                //   }
                // }
            }

            // #register-button-container {
            //   #register-btn {
            //     font-size: 16px;
            //     padding: 16px 18px;
            //   }
            // }
        }
    }
}

// header.page-header {
//     color: #212529;

//     .navbar-brand {
//         margin-right: 1.9rem;

//         img {
//             width: 208px;
//         }
//     }
// }
