#mc_embed_signup {
    @include bp-992 {
        max-width: 400px;
        padding-bottom: 5px;
        // position: relative;
    }

    @include bp-1200 {
        padding-top: 0;
    }

    #mc_embed_signup_scroll {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            background-color: $white;
            height: 2px;
        }

        #mce-EMAIL {
            background-color: transparent;
            border: none;
            @include set-text($white, 13.25px, 1, samsungone-bold);

            @include bp-992 {
                font-size: 13px;
            }

            @include bp-1200 {
                font-size: 17px;
            }

            @include bp(1460px) {
                font-size: 22px;
            }

            &:focus {
                outline: none;
            }

            &::-ms-clear {
                display: none;
            }

            @include placeholder-color($mischka);
        }

        #mc_embed_signup__submit {
            border: none;
            color: white;
            background: url('#{$img-path}send.svg') no-repeat;
            width: 16px;
            height: 14px;

            &:hover {
                color: $denim;
                outline: none;

                background-image: url('#{$img-path}send-blue.svg');
            }
        }
    }

    input.mce_inline_error {
        border-color: #6B0505;
    }

    div.mce_inline_error {
        z-index: 1;
        color: #fff;
    }
}
    #signup-col_btn-container {
        @include bp-992 {
            max-width: 400px;
        }
    }
    #mc_embed_signup__close_btn {
        background: none;
        border: none;
        display: block;
        margin-left: auto;
        color: $mischka;
        margin-top: 5px;
        font-size: 12px;

        &:hover {
            color: white;
        }
    }


    #mc_embed_signup__response {
        min-height: 72px;
        font-size: 13.25px;
        text-align: center;
        @include bp-992 {
            margin-left: 70%;
            margin-right: 0;
            text-align: left;
        }
        @include bp-1200 {
            font-size: 16px;
            padding-left: 10px;
        }
    }

    @include bp-992 {
        .mc-field-group__email__errors  {
            padding-left: 10px;
        }
        #mce-responses {
            padding-left: 10px;
        }
    }
